@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-green {
    color: rgba(109,197,155)
  }
  .text-2xl {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
    letter-spacing: -.025em;
  }
}

